 body {
  background-color: #080b2b;
  
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8F2D56;
  font-size: 170%;
  letter-spacing: 5px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: lightpink;
    text-shadow: 2px 2px 2px #8F2D56;
}

h2{
  color: lightpink;
  font-size: 300%;
  text-decoration-line: underline;
  text-decoration-color: #8F2D56;  
  text-decoration-style: wavy;  
  letter-spacing: 10px;

}
#img2 {
  position:fixed;
  top:10px;
  left:10px;
  width: 6%;
  
}
img:hover {
  border: dotted pink;
}
#img1 {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 6%;
}
